div.countParagraphs {
    counter-reset: paragraph;
}

div.countParagraphs > p::before {
    counter-increment: paragraph;
    color: #666;
    content: "§" counter(paragraph);
    margin-right: 1rem;
    font-size: 0.8rem;
    position: relative;
    top: 0rem;
}

div.csl-entry {
    margin-bottom: 0.5rem;
}